@charset "utf-8";

.buy-info-wrap {
    width:1194px;
    text-align:center;
    margin-top:80px;
}

.buy-info {
    width:400px;
    margin:0 auto;
    font-size:14px;
    margin-top:20px;
    display:flex;
    justify-content: space-between;
    font-weight: bold;
}

.go-shopping {
    width: 276px;
    height: 90px;
    border:3px solid #EC5937;
    box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.07);
    border-radius: 20px;
    font-size:26px;
    line-height:90px;
    text-align:center;
    background: #FDFDFD;
}


.go-cart {
    width: 276px;
    height: 90px;
    text-align: center;
    line-height: 90px;
    box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.07);
    border-radius: 20px;
    font-size:26px;
    color:#FFFFFF;
}

.gobtn-wrap {
    width:582px;
    display: flex;
    margin:0 auto;
    justify-content: space-between;
    margin-top:45px;
    background: #FDFDFD;
}
.buy-human-table {
    width:595px;
    margin-top:80px;
}

.buy-human-table thead {
    text-align: left;
    border-bottom:4px solid #EC5937;
    font-size:24px;
    height:40px;
    padding-bottom:15px;
}

.buy-human-table > tbody th {
    width:137px;
    font-size:18px;
    height:55px;
    background: #F3F3F3;
}

.buy-human-table > tbody td{
    width:458px;
    font-size:16px;
    height:55px;
    padding-left:15px;
    padding-right:20px;
}

.table-wrap {
    display: flex;
    justify-content: space-between;
}

@media (min-width:650px) and (max-width:1275px) {
    .buy-info-wrap {
        width:93.6471vw;
        margin-top:6.2745vw;
        font-size:1rem;
    }

    .buy-info {
        width:31.3725vw;
        margin:0 auto;
        font-size:0.4rem;
        margin-top:1.5686vw;
    }

    .go-shopping {
        width: 21.6471vw;
        height: 7.0588vw;
        border:0.2353vw solid #EC5937;
        box-shadow: 0.0000vw 0.2353vw 0.5490vw rgba(0, 0, 0, 0.07);
        border-radius: 1.5686vw;
        line-height:7.0588vw;
        font-size:0.8rem;
    }


    .go-cart {
        width: 21.6471vw;
        height: 7.0588vw;
        line-height: 7.0588vw;
        box-shadow: 0.0000vw 0.2353vw 0.5490vw rgba(0, 0, 0, 0.07);
        border-radius: 1.5686vw;
        font-size:0.8rem;
    }

    .gobtn-wrap {
        width:45.6471vw;
        margin:0 auto;
        margin-top:3.5294vw;
        font-size:0.8rem;
    }

    .buy-human-table {
        width:46.6667vw;
        margin-top:6.2745vw;
    }

    .buy-human-table thead {

        border-bottom:0.3137vw solid #EC5937;
        font-size:1.8824vw;
        height:3.1373vw;
        padding-bottom:1.1765vw;
    }

    .buy-human-table > tbody th {
        width:10.7451vw;
        font-size:0.6rem;
        height:4.3137vw;
        background: #F3F3F3;
    }

    .buy-human-table > tbody td{
        width:35.9216vw;
        font-size:0.5rem;
        height:4.3137vw;
        padding-left:1.1765vw;
        padding-right:1.5686vw;
    }
}

@media (min-width:320px) and (max-width:649px) {
    .title-wrap {
        width:93.7% !important;
        margin:0 auto;
        border-bottom:0.5128vw solid #EC5937;
        display:block !important;
        margin-top:4.6154vw;
        padding-bottom:2.0513vw;
    }

    .title-box {
        width:auto !important;
        height:auto !important;
        background:none !important;
        color:#000 !important;
        font-size:1.4rem !important;
        text-align: left !important;
        font-weight:bold;
        line-height:4.1026vw !important;

    }

    .workstep {
        display:none;
    }

    .buy-info-wrap {
        width:93.7%;
        margin:0 auto;
        text-align:center;
        margin-top:12.8205vw;
    }

    .buy-note {
        font-size:1.9rem;
    }

    .buy-info {
        width:60%;
        margin:0 auto;
        font-size:1rem;
        margin-top:2.0513vw;
        display:flex;
        justify-content: space-between;
        font-weight: bold;
    }

    .gobtn-wrap {
        width:100%;
        border-top:0.2564vw solid #F3F3F3;
        height:70px;
        padding:3.0769vw;
        position: fixed;
        bottom:17.9487vw;
    }


    .go-shopping {
        width:45.8974vw;
        height:12.3077vw;
        line-height:12.3077vw ;
        border-radius: 2.3077vw;
        border:0.2564vw solid #EC5937;
        font-size:1.5rem;
    }

    .go-cart {
         width:45.8974vw;
        height:12.3077vw;
        line-height:12.3077vw ;
        border-radius: 2.3077vw;
        font-size:1.5rem;
    }

    .table-wrap {
        display: block;
        justify-content: space-between;
    }

    .buy-human-table {
        width:93.7%;
        margin:0 auto;
        margin-top:11.5385vw;
    }

    .buy-human-table thead {
        border-bottom:0.5128vw solid #EC5937;
        font-size:1.7rem;
        height:10.2564vw;
    }

    .buy-human-table > tbody th {
        width:19.4872vw;
        font-size:1.3rem;
        height:10.2564vw;
    }

    .buy-human-table > tbody td{
        width:70.2564vw;
        font-size:1.2rem;
         height:10.2564vw;
        padding-left:3.8462vw;
    }
}