@charset 'utf-8';

.tosel-wrap {
    width:1195px;
    height:1569px;
    margin:0 auto;
    margin-top:80px;
}

.tosel-wrap > div {
    float:left;
}

.left-menu > section {
    width:228px;
    display:flex;
    justify-content:center;
    align-items:center;

}

.left-menu > section:not(.menu-title) {
    height:70px;
    font-size:18px;
    background: #F3F3F3;
    border-bottom:1px solid #FFFFFF;
}

.menu-title {
    height:109px;
    font-size:24px;
}

.mobile {
    display:none;
}

.swiper-wrapper {
    display:block !important;
}

.cart-wrap {
    margin-left:40px;
}

.page-title {
    font-size:24px;
    display: flex;
}

.page-title > img {
    width:25px;
    height:25px;
}

.page-title > span {
    margin-left:13px;
    font-weight:bold;
}

.workstep {
    font-size:16px;

}


.workstep > span {
    margin-left:16px;
}
.workstep > img {
    margin-left:16px;
    width:6px;
    height:12px;
}

.workstep {
    margin-top:13px;
        display: flex;
    justify-content: right;
    align-items: center;
}

.cart-wrap {
    width:926px;
}

.cart-wrap input[type='checkbox'] {
    width: 25px;
    height: 25px;
    border: 1px solid #CACACA;
    border-radius: 5px;
}

.cart-title {
    display: flex;
    align-items: center;
    margin-top:14px;
    font-size:16px;
    background:  #F3F3F3;
    width:926px;
    height:51px;
    font-weight:bold;
    padding-left:20px;
}

.cart-title > span{
    margin-left:100px;
}
.cart-title > span:first-child{
    margin-left:0px;
}

.cart-title > span:nth-child(2) {
    margin-left:20px;
}

.cart > section{
    display: flex;
    align-items: center;
    width:926px;
    padding-left: 20px;
    padding-top:25px;
    padding-bottom: 25px;
    border-bottom: 1px solid #DFDFDF;
}



.cart > section > .book-img{
    margin-left:20px;
}

.cart > section > div {
    float:left;
    font-size:16px;
    width:130px;
    margin-left:27px;
}

.cart > section > div > img {
    width:100px;
    height:132px;
}


.sale-price > b {
    color: #EC5937;
}

.amount-check {
    width: 82px; height: 100%; border: 1px solid #C4C4C4; border-radius: 5px;
    display: flex;
}
.amount-check > div {
    border-right: 1px solid #C4C4C4; flex: 1;
}
.amount-check > div:last-child { border-right: none;}
.plus { width: 14px; height: 14px;}
.minus { width: 14px;}
.sign {
    display: flex; justify-content: center; align-items: center; cursor: pointer;
    background: #EDEDED;
}

.amount-num { font-size: 0.5rem!important; text-align: right; line-height: 25px;}
.amount-num > input {
    display: block; margin-right: 3px; color: #333333;
    width: 100%; height: 100%; border: none; outline: none;

}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] { text-align:right; padding-right: 2px;}

.amount-box {
    width: 115px; height: 25px;
    display: flex; justify-content: space-between; align-items: center;
    margin-left:50px !important;
}


@media (min-width:650px) and (max-width:1275px) {


.mobile {
    display:none;
}

.tosel-wrap {
    width:93.7255vw;
    height:123.0588vw;
    margin:0 auto;
    margin-top:6.2745vw;
}

.left-menu > section {
    width:17.8824vw;
    display:flex;
    justify-content:center;
    align-items:center;

}

.left-menu > section:not(.menu-title) {
    height:5.4902vw;
    font-size:0.5rem;
    background: #F3F3F3;
    border-bottom:0.0784vw solid #FFFFFF;
}

.menu-title {
    height:8.5490vw;
    font-size:0.8rem;
}

.mobile {
    display:none;
}

.swiper-wrapper {
    display:block !important;
}

.cart-wrap {
    margin-left:3.1373vw;
}

.page-title {
    font-size:0.8rem;
    display: flex;
}

.page-title > img {
    width:1.9608vw;
    height:1.9608vw;
}

.page-title > span {
    margin-left:1.0196vw;
    font-weight:bold;
}

.workstep {
    font-size:0.5rem;
    display: flex;
    justify-content: right;
    align-items: center;
}

.workstep > span {
    margin-left:1.2549vw;
}
.workstep > img {
    width:0.4706vw;
    height:0.9412vw;
    margin-left:1.2549vw;
}

.cart-wrap {
    width:72.6275vw;
}

.cart-wrap input[type='checkbox'] {
    width: 1.9608vw;
    height: 1.9608vw;
    border: 0.0784vw solid #CACACA;
    border-radius: 0.3922vw;
}

.cart-title {
    display: flex;
    align-items: center;
    margin-top:1.0980vw;
    font-size:0.5rem;
    background:  #F3F3F3;
    width:72.6275vw;
    height:4.0000vw;
    font-weight:bold;
    padding-left:1.5686vw;
}

.cart-title > span{
    margin-left:7.8431vw;
}
.cart-title > span:first-child{
    margin-left:0px;
}

.cart-title > span:nth-child(2) {
    margin-left:1.5686vw;
}

.cart > section{
    display: flex;
    align-items: center;
    width:72.6275vw;
    padding-left: 1.5686vw;
    padding-top:1.9608vw;
    padding-bottom: 1.9608vw;
    border-bottom: 0.0784vw solid #DFDFDF;
}



.cart > section > .book-img{
    margin-left:1.5686vw;
}

.cart > section > div {
    float:left;
    font-size:0.5rem;
    width:10.1961vw;
    margin-left:2.1176vw;
}

.cart > section > div > img {
    width:7.8431vw;
    height:10.3529vw;
}

.price {
    text-decoration: line-through;
}

.sale-price > b {
    color: #EC5937;
}

.amount-check {
    width: 6.4314vw; height: 100%; border: 0.0784vw solid #C4C4C4; border-radius: 0.3922vw;
    display: flex;
}
.amount-check > div {
    border-right: 0.0784vw solid #C4C4C4; flex: 1;
}
.amount-check > div:last-child { border-right: none;}
.plus { width: 1.0980vw; height: 1.0980vw;}
.minus { width: 1.0980vw;}
.sign {
    display: flex; justify-content: center; align-items: center; cursor: pointer;
    background: #EDEDED;
}

.amount-num { font-size: 0.5rem!important; text-align: right; line-height: 1.9608vw;}
.amount-num > input {
    display: block; margin-right: 0.2353vw; color: #333333;
    width: 100%; height: 100%; border: none; outline: none;

}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] { text-align:right; padding-right: 0.1569vw;}

.amount-box {
    width: 9.0196vw; height: 1.9608vw;
    display: flex; justify-content: space-between; align-items: center;
    margin-left:3.9216vw !important;
}

}


@media (min-width:320px) and (max-width:649px) {

.pc {
    display:none;
}

.tosel-wrap {
    width:100%;
    overflow-x: scroll;
    margin:0;
}


.left-menu > section:not(.menu-title) {
    font-size:1.4rem;
    background: #FFFFFF;
    height:15.6250vw;
}

.tosel-wrap {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}
.tosel-wrap::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera*/
}

.mySwiper {
    border-bottom:0.2564vw solid #EC5937;
}

.left-menu img {
    width:5.6250vw;
    height:5.6250vw;
}

.left-menu span {
    margin-left:3.1250vw;
}

.left-menu > section {
    width:35%;
    margin-left:8.9744vw;
}

.swiper-wrapper {
    display:flex !important;
}

.tosel-wrap > div {
    float:none;
}

.cart-wrap {
    width:100%;
    margin:0 auto;
}

.cart-title {
    width:100%;
    display: flex;
    align-items: center;
    margin-top:0;
    font-size:1.3rem;
    background:  #F3F3F3;
    font-weight:bold;
    border-bottom:0.7692vw solid #EC5937;
    padding-left:5.1282vw;
}
.cart-title > span{
    margin-left:23.6410vw;
}

.cart-wrap input[type='checkbox'] {
    width:6.4103vw;
    height:6.4103vw;
    border:1.2821vw solid red;
    border-radius: 1.2821vw;
}

.cart {
    padding-left:5.1282vw;
    padding-right:5.1282vw;
}

.cart > section{
    width:72.6275vw;
    padding-top:6.9231vw;
    padding-bottom: 6.9231vw;
    border-bottom: 0.2564vw solid #DFDFDF;
    padding-left:0;
}



.cart > section > .book-img{
    margin-left:5.1282vw;
}

.cart > section > div {
    font-size:1.5rem;
    margin-left:5.8974vw;
}

.cart > section > div > img {
    width:25.6410vw;
    height:33.8462vw;
}

.price {
    font-size:1rem;
    margin-top:1.7949vw;
}

.sale-price {
    margin-top:2.5641vw;
}

.sale-price > b {
    color: #EC5937;
}

.amount-check {
    width: 21.0256vw; height: 100%; border: 0.2564vw solid #C4C4C4; border-radius: 1.2821vw;
    display: flex;
}
.amount-check > div {
    border-right: 0.2564vw solid #C4C4C4; flex: 1;
}
.amount-check > div:last-child { border-right: none;}
.plus { width: 3.5897vw; height: 3.5897vw;}
.minus { width: 3.5897vw;}
.sign {
    display: flex; justify-content: center; align-items: center; cursor: pointer;
    background: #EDEDED;
}

.amount-num { font-size: 0.5rem!important; text-align: right; line-height: 6.4103vw;}
.amount-num > input {
    display: block; margin-right: 0.7692vw; color: #333333;
    width: 100%; height: 100%; border: none; outline: none;

}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] { text-align:right; padding-right: 2px;}

.amount-box {
    width: 29.4872vw; height: 6.4103vw;
    display: flex; justify-content: space-between; align-items: center;
    margin-left:0px !important;
}


}

