<!DOCTYPE html>
<html lang="en">
<head>
     {% include 'header-hd.html' %}
    <script src="http://dmaps.daum.net/map_js_init/postcode.v2.js"></script>
    <link href="/static/css/buy-success.css" rel="stylesheet">
    <title>주문/결제</title>
</head>
<body>
{% include 'header.html' %}
<script>
        function goAddr(){
		    new daum.Postcode({
		        oncomplete: function(data) {
					$(".addr1").val(data.address);
                    $(".zip").val(dta.azonecode);
		        }
		    }).open();
		}
</script>
    <div id="wrap">
        {% include 'header.html' %}

        <div class="contents-area">
            <div class="title-wrap pc">
                <div class="title-box bg-c-orange ft-c-w">주문완료</div>

                <div class="workstep">
                    <span>장바구니</span>
                    <img src="/static/images/deo-view.png">
                    <span>주문/결제</span>
                    <img src="/static/images/deo-view.png">
                    <span class="selected">주문완료</span>
                </div>
            </div>
            <div class="buy-info-wrap">
                <div class="buy-note"><b class="ft-c-o">주문이 완료</b>되었습니다. 감사합니다.</div>
                <div class="buy-info">
                    <span>
                        주문일
                        <span class="buy-date">2021.08.25</span>
                    </span>
                    <span>
                        주문번호
                        <span class="buy-code">123456789</span>
                    </span>
                </div>
            </div>
            <div class="gobtn-wrap">
                <div class="go-shopping ft-c-o ft-w-b">쇼핑 계속하기</div>
                <div class="go-cart bg-c-orange ft-w-b">장바구니 가기</div>
            </div>
            <div class="table-wrap">
                    <table class="buy-human-table">
                        <thead>
                            <tr>
                                <th colspan="2">받는 사람 정보</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th>이름</th>
                                <td>김토셀</td>
                            </tr>
                            <tr>
                                <th>배송주소</th>
                                <td>(24601) 서울특별시 성북구 고려대로 21길 3-39 6301호 서울특별시 성북구 고려대로 21길 3-39 6301호  </td>
                            </tr>
                            <tr>
                                <th>전화번호</th>
                                <td>010-1234-5678</td>
                            </tr>
                            <tr>
                                <th>배송 요청사항</th>
                                <td>나는 집가고싶다 언제 갈지모르겠다</td>
                            </tr>
                        </tbody>
                    </table>

                                <table class="buy-human-table">
                        <thead>
                            <tr>
                                <th colspan="2"><span>결제정보</span></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th>상품금액</th>
                                <td>99,999원</td>
                            </tr>
                            <tr>
                                <th>배송비</th>
                                <td>3500원</td>
                            </tr>
                            <tr>
                                <th>할인금액</th>
                                <td>99,999원</td>
                            </tr>
                            <tr>
                                <th>총 결제 금액</th>
                                <td class="ft-c-o ft-w-b">99,999,999,999원</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
        </div>

        {% include 'footer.html' %}
    </div>

<script>
    $(document).ready(function (){
        $(".qna").hover(function(){
            $(".qna-answer").show();
        }, function (){
            $(".qna-answer").hide();
        });
    });
</script>
</body>
</html>