<!DOCTYPE html>
<html lang="ko">
<head>
     {% include 'header-hd.html' %}
    <link href="/static/css/Cart.css" rel="stylesheet">
    <title>장바구니</title>

</head>
<body>
    {% include 'header.html' %}
    <script>
        $(document).ready(function(){
           $(".refund-btn").click(function(){
                if($(".refund-chk").is(":checked") == false){
                    alert("체크해라");
                }else{
                    location.href="/refund-reason";
                }
           });
        });
    </script>
    <div class="contents-area d-f">
        <section class="mypage-menu">
                <h2 class="mypage-title">마이페이지</h2>

                <ul class="mypage-list">
                    <li class="mypage-item">주문내역 관리</li>
                    <li class="mypage-item">장바구니</li>
                    <li class="mypage-item">취소/반품/교환 조회</li>
                    <li class="mypage-item text-active">회원 정보</li>
                </ul>
        </section>

        <section class="manage-info">
            <section class="menu-title ft-w-b">
                <img src="/static/images/cart.png">
                장바구니
            </section>

            <section class="refund-list">

                   <table>
                        <thead>
                            <tr>
                                <th><input type="checkbox"></th>
                                <th></th>
                                <th>상품정보</th>
                                <th>상품금액</th>
                                <th>할인적용금액</th>
                                <th>상품수량</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><input class="refund-chk" type="checkbox"></td>
                                <td class="book-img"><img src="/static/images/yellow-book.png"></td>
                                <td class="book-info">
                                    <div class="level">Basic</div>
                                    <div class="book-nm ft-w-b">LISTENING 1</div>
                                    <div class="category">for Teachers</div>
                                </td>
                                <td class="price">
                                    19,999원
                                </td>
                                <td class="price-info">
                                    <div class="sale-price">
                                        <span class="ft-c-o ft-w-b">10%</span>
                                        <span class="amount ft-w-b">19,000</span>
                                        <span>원</span>
                                    </div>
                                </td>
                                <td class="book-count ft-w-b">
                                    <div><img src="/static/images/minus.png"></div>
                                    <input type="number">
                                    <div><img src="/static/images/plus.png"></div>
                                </td>
                                <td class="remove"><img src="/static/images/remove.png"></td>
                            </tr>

                            <tr>
                                <td><input class="refund-chk" type="checkbox"></td>
                                <td class="book-img"><img src="/static/images/yellow-book.png"></td>
                                <td class="book-info">
                                    <div class="level">Basic</div>
                                    <div class="book-nm ft-w-b">LISTENING 1</div>
                                    <div class="category">for Teachers</div>
                                </td>
                                <td class="price">
                                    19,999원
                                </td>
                                <td class="price-info">
                                    <div class="sale-price">
                                        <span class="ft-c-o ft-w-b">10%</span>
                                        <span class="amount ft-w-b">19,000</span>
                                        <span>원</span>
                                    </div>
                                </td>
                                <td class="shipping ft-w-b"></td>
                                <td class="remove"><img src="/static/images/remove.png"></td>
                            </tr>
                        </tbody>
                    </table>
            </section>
        </section>
    </div>
    {% include 'footer.html' %}
</body>
</html>
