<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="format-detection" content="telephone=no">
    <link href="/static/css/refund.css" rel="stylesheet">
    <title>교제몰 메인</title>

</head>
<body>
    {% include 'header.html' %}
    <div class="contents-area d-f">
        <section class="mypage-menu">
                <h2 class="mypage-title">마이페이지</h2>

                <ul class="mypage-list">
                    <li class="mypage-item">주문내역 관리</li>
                    <li class="mypage-item">장바구니</li>
                    <li class="mypage-item">취소/반품/교환 조회</li>
                    <li class="mypage-item text-active">회원 정보</li>
                </ul>
        </section>

        <section class="manage-info">
            <section class="menu-title ft-w-b">취소/환불 신청</section>

            <section class="workstep-box">
                <span class="selected">상품 선택</span>
                <img src="/static/images/workstep-arrow.png">
                <span>사유 선택</span>
                <img src="/static/images/workstep-arrow.png">
                <span>취소신청 완료</span>
            </section>
        </section>
    </div>
    {% include 'footer.html' %}
</body>
</html>
