<!DOCTYPE html>
<html lang="ko">
<head>
    {% include 'header-hd.html' %}
    <link href="/static/css/reason.css" rel="stylesheet">
    <link href="/static/css/refund-total.css" rel="stylesheet">
    <title>취소/환불 신청 (사유 선택)</title>

</head>
<body>
    {% include 'header.html' %}
    <script>
        $(document).ready(function(){
           $(".refund-btn").click(function(){
                if($(".reason-btn").is(":checked") == false){
                    alert("체크해라");
                }else{
                    alert("체크함");
                }
           });

           $(".back-btn").click(function (){
                history.back();
           })
        });
    </script>
    <div class="contents-area d-f">
        <section class="mypage-menu">
                <h2 class="mypage-title">마이페이지</h2>

                <ul class="mypage-list">
                    <li class="mypage-item">주문내역 관리</li>
                    <li class="mypage-item">장바구니</li>
                    <li class="mypage-item">취소/반품/교환 조회</li>
                    <li class="mypage-item text-active">회원 정보</li>
                </ul>
        </section>

        <section class="manage-info">
            <section class="menu-title ft-w-b">취소/환불 신청</section>

            <section class="workstep-box">
                <span >상품 선택</span>
                <img src="/static/images/workstep-arrow.png">
                <span class="selected">사유 선택</span>
                <img src="/static/images/workstep-arrow.png">
                <span>취소신청 완료</span>
            </section>

            <section class="refund-list">
                <div class="refund-title">
                    <b>어떤 문제가 있나요?</b>
                </div>
                <div class="reason-wrap">

                    <table>
                        <tr>
                            <th><input id="product-error" class="reason-btn" type="checkbox"></th>
                            <td><label for="product-error">상품 착오</label></td>
                        </tr>
                        <tr>
                            <th><input id="shipping-error"class="reason-btn" type="checkbox"></th>
                            <td><label for="shipping-error">배송 문제</label></td>
                        </tr>

                        <tr>
                            <th><input id="etc" class="reason-btn" type="checkbox"></th>
                            <td><label for="etc">기타</label></td>
                        </tr>
                    </table>

                    <div class="reason ft-w-b">상세 사유를 적어주세요.</div>
                    <textarea class="reason-text" placeholder="상세한 사유를 적어주세요."></textarea>
                    <div class="btn-wrap">
                        <div class="bg-c-orange refund-btn">제출하기</div>
                        <div class="ft-c-o back-btn ft-w-b pc">뒤로가기</div>
                    </div>
                </div>
            </section>
        </section>
    </div>
    {% include 'footer.html' %}
</body>
</html>
