<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/css/header.css" >
    <link rel="stylesheet" href="/static/css/total.css" >
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
     <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
        <div id="header">

            <div id="top-menu">

                <div class="logo-box">
                    <img src="/static/images/header/tosel-logo.png" class="t-logo pc">
                    <img src="/static/images/header/logo.png" class="t-logo-m mobile">
                </div>

                <nav>
                    <ul>
                        <li><img src="/static/images/header/join.png" class="join"><a href="#">회원가입</a></li>
                        <li><img src="/static/images/header/mypage.png" class="mypage"><a href="#">마이페이지</a></li>
                        <li><img src="/static/images/header/notice.png" class="notice"><a href="#">공지사항</a></li>
                        <li><img src="/static/images/header/FAQ.png" class="FAQ"><a href="#">FAQ</a></li>
                        <li><img src="/static/images/header/cart.png" class="cartshow"><a href="#">장바구니</a></li>
                    </ul>
                </nav>

                <div class="ham-menu ">
                    <img src="/static/images/header/ham-menu.png" class="ham-menu-bar">
                </div>

                <div class="title mobile">장바구니</div>

                <img src="/static/images/header/bell.png" class="bell">


            </div>

        </div>

        <div class="sub-header pc ">
            <section>
                <img src="/static/images/totalBook.png">
                <span>전체 교재</span>
            </section>

            <section>
                <img src="/static/images/event.png">
                <span>이벤트</span>
            </section>

            <section>
                <img src="/static/images/best.png">
                <span>베스트셀러</span>
            </section>

            <section>
                <img src="/static/images/new.png">
                <span>신상품</span>
            </section>

            <section>
                <img src="/static/images/goods.png">
                <span>굿즈</span>
            </section>

            <section>
                <img src="/static/images/down.png">
                <span>학습 자료실</span>
            </section>

            <section>
                <div class="search-box">
                    <img src="/static/images/search-img.png" class="search-img">
                    <input type="search">
                    <button>검색</button>
                </div>
            </section>
        </div>
</body>
</html>